html, body, div, span, applet, object, iframe, strong, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, tbody, tfoot, thead, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    list-style: none;
    text-align: center;
  }

/* change border colour to suit your needs */

hr {
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

li {
    display: block;
    list-style: none;
}

.header {
    border-bottom:1px solid #999999;
    color: #333;
    font-size: 32px;
    margin: 0 0 20px;
    padding: 0 0 8px;
  }
  

.header_logo {
    padding: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links{
    height:53px;
    padding-top:1px;
    text-align: center;
  }
  .links a{
    width: 240px;
    padding:30px;
    color:#ffffff;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    background: #1B73BA;
    display: inline-block;
    position:relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow:4px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:4px 4px 0px 0px rgba(0,0,0,0.2);
    box-shadow:4px 4px 0px 0px rgba(0,0,0,0.2);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .links a:hover{
    margin:4px 0 0 4px ;
    -webkit-box-shadow:0 0 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 0px 0px rgba(0,0,0,0.2);
    box-shadow:0 0 0px 0px rgba(0,0,0,0.2);
  }
